flows.json
[
    {
        "id": "656ed36491044534",
        "type": "tab",
        "label": "Smart Retail Analytics v3.4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8434886bda7388e",
        "type": "junction",
        "z": "656ed36491044534",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "f67acaa9e7f5cbf6",
                "e1bfbd1ed07a8819",
                "12de6e650d456909"
            ]
        ]
    },
    {
        "id": "e1bfbd1ed07a8819",
        "type": "junction",
        "z": "656ed36491044534",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "c558ddb2fc50220d",
                "b27f60514fbe54e1",
                "627181e3b1f1e4f6"
            ]
        ]
    },
    {
        "id": "daeebc5b4836bb70",
        "type": "junction",
        "z": "656ed36491044534",
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "7e3d948204adc16f"
            ]
        ]
    },
    {
        "id": "4cbb7822169a3c10",
        "type": "mqtt-broker",
        "name": "evam-mqtt",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "09c72df344f3e5bf",
        "type": "edge-video-analytics-server",
        "name": "Edge-Video-Analytics-Server",
        "host": "EVAM_DNS",
        "hostInputType": "env",
        "port": "8080"
    },
    {
        "id": "6601a8ae02d23284",
        "type": "inject",
        "z": "656ed36491044534",
        "name": "Configure Hosts",
        "props": [
            {
                "p": "broker['broker']",
                "v": "$env('MQTT_DNS')",
                "vt": "jsonata"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "preprocessHost",
                "v": "\"http://\" & $env('PREPROCESS_DNS') & \":5009\"",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sra/people",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f8434886bda7388e"
            ]
        ]
    },
    {
        "id": "7e3d948204adc16f",
        "type": "debug",
        "z": "656ed36491044534",
        "name": "Debug Pipeline ID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "06f4980350602c68",
        "type": "http request",
        "z": "656ed36491044534",
        "name": "Pre-Process: Resize",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{preprocessHost}}}/resize",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "7eff564ff8b2bf70"
            ]
        ]
    },
    {
        "id": "c558ddb2fc50220d",
        "type": "change",
        "z": "656ed36491044534",
        "name": "Video Source 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"video\":\"https://github.com/intel-iot-devkit/sample-videos/raw/master/face-demographics-walking.mp4\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "06f4980350602c68"
            ]
        ]
    },
    {
        "id": "627181e3b1f1e4f6",
        "type": "change",
        "z": "656ed36491044534",
        "name": "Video Source 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"video\":\"https://github.com/intel-iot-devkit/sample-videos/raw/master/bottle-detection.mp4\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "babea1b85a6d097b"
            ]
        ]
    },
    {
        "id": "b27f60514fbe54e1",
        "type": "change",
        "z": "656ed36491044534",
        "name": "Video Source 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"video\":\"https://github.com/intel-iot-devkit/sample-videos/raw/master/head-pose-face-detection-female-and-male.mp4\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "032e413ae17b3c2c"
            ]
        ]
    },
    {
        "id": "032e413ae17b3c2c",
        "type": "http request",
        "z": "656ed36491044534",
        "name": "Pre-Process: Resize",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{preprocessHost}}}/resize",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "80af62f07074ae2b"
            ]
        ]
    },
    {
        "id": "babea1b85a6d097b",
        "type": "http request",
        "z": "656ed36491044534",
        "name": "Pre-Process: Resize",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{preprocessHost}}}/resize",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 380,
        "wires": [
            [
                "1aa994d23e928081"
            ]
        ]
    },
    {
        "id": "d8dbac297fa2378b",
        "type": "mqtt in",
        "z": "656ed36491044534",
        "name": "Get Metadata : MQTT",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4cbb7822169a3c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 640,
        "y": 480,
        "wires": [
            [
                "c91829bf086d3eb0"
            ]
        ]
    },
    {
        "id": "03df35329a56b3b8",
        "type": "switch",
        "z": "656ed36491044534",
        "name": "If 2 person detected",
        "property": "payload.num_of_person",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "4e71a1cf7ff0b6f5"
            ]
        ]
    },
    {
        "id": "4e71a1cf7ff0b6f5",
        "type": "debug",
        "z": "656ed36491044534",
        "name": "Debug People Count",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 580,
        "wires": []
    },
    {
        "id": "12de6e650d456909",
        "type": "change",
        "z": "656ed36491044534",
        "name": "Action: Subscribe",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "d8dbac297fa2378b"
            ]
        ]
    },
    {
        "id": "f67acaa9e7f5cbf6",
        "type": "change",
        "z": "656ed36491044534",
        "name": "Action: Connect",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker['force']",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "0503d7b0e7ccf3d5"
            ]
        ]
    },
    {
        "id": "c91829bf086d3eb0",
        "type": "workspace-function-ext",
        "z": "656ed36491044534",
        "name": "Count People : Python",
        "path": "",
        "sourcetype": "python",
        "source": "count = 0\r\nmessage = msg['payload']\r\nsrc = message['source']\r\nvideo = src.rsplit('/', 1)[-1]\r\nfor obj in message['objects']:\r\n    if obj['detection']['label_id'] == 1:\r\n        count = count + 1\r\nmsg['payload'] = { 'num_of_person': count, 'video_src': video }\r\nreturn msg",
        "outputs": 1,
        "x": 880,
        "y": 480,
        "wires": [
            [
                "03df35329a56b3b8"
            ]
        ]
    },
    {
        "id": "7eff564ff8b2bf70",
        "type": "intel-edge-video-analytics",
        "z": "656ed36491044534",
        "name": "Detect Person",
        "server": "09c72df344f3e5bf",
        "operation": "start",
        "pipeline": "object_detection/person-gvapython",
        "pipelineList": [
            "",
            "object_tracking/object_line_crossing",
            "object_tracking/person_vehicle_bike",
            "action_recognition/general",
            "action_recognition/head_pose",
            "shopper-pose-mood/v2",
            "shopper-pose-mood/v1",
            "face_detection/adas",
            "emotion_recognition/v1",
            "video_decode/app_dst",
            "object_detection/yolo-v2-tiny-tf",
            "object_detection/yolo-v2-gvapython",
            "object_detection/object_zone_count",
            "object_detection/app_src_dst",
            "object_detection/vehicle",
            "object_detection/person_vehicle_bike",
            "object_detection/person",
            "object_detection/person-gvapython",
            "object_classification/vehicle_attributes",
            "audio_detection/environment"
        ],
        "selectedPipeline": "object_detection/person-gvapython",
        "pipelineName": "shopper-count-duration",
        "pipelineNameType": "str",
        "instanceId": "",
        "instanceIdInputType": "str",
        "video": "payload.video_file",
        "videoInputType": "msg",
        "selectedMetadataOption": "mqtt",
        "mqttHost": "MQTT_DNS",
        "mqttHostType": "env",
        "mqttPort": "1883",
        "mqttTopic": "sra/people",
        "mqttTopicType": "str",
        "kafkaHost": "",
        "kafkaHostType": "str",
        "kafkaPort": "",
        "kafkaTopic": "",
        "kafkaTopicType": "str",
        "selectedFrameOption": "",
        "rtspPath": "",
        "rtspPathType": "str",
        "peerid": "",
        "peeridType": "str",
        "metadata": "mqtt",
        "frame": "",
        "detectionDevice": "",
        "useZeromq": true,
        "zeromqServer": "\"tcp://\" & $env('SERVER_DNS') & \":5555\"",
        "zeromqServerType": "jsonata",
        "useModelInstanceId": true,
        "modelInstanceId": "{\"detection-model-instance-id\":\"person\"}",
        "modelInstanceIdType": "json",
        "useNewModel": "",
        "newModel": "",
        "newModelType": "json",
        "checkStatus": "",
        "x": 940,
        "y": 180,
        "wires": [
            [
                "daeebc5b4836bb70"
            ]
        ]
    },
    {
        "id": "80af62f07074ae2b",
        "type": "intel-edge-video-analytics",
        "z": "656ed36491044534",
        "name": "Shopper Pose/Mood",
        "server": "09c72df344f3e5bf",
        "operation": "start",
        "pipeline": "shopper-pose-mood/v2",
        "pipelineList": [
            "",
            "object_tracking/object_line_crossing",
            "object_tracking/person_vehicle_bike",
            "action_recognition/general",
            "action_recognition/head_pose",
            "shopper-pose-mood/v2",
            "shopper-pose-mood/v1",
            "face_detection/adas",
            "emotion_recognition/v1",
            "video_decode/app_dst",
            "object_detection/yolo-v2-tiny-tf",
            "object_detection/yolo-v2-gvapython",
            "object_detection/object_zone_count",
            "object_detection/app_src_dst",
            "object_detection/vehicle",
            "object_detection/person_vehicle_bike",
            "object_detection/person",
            "object_detection/person-gvapython",
            "object_classification/vehicle_attributes",
            "audio_detection/environment"
        ],
        "selectedPipeline": "shopper-pose-mood/v2",
        "pipelineName": "shopper-pose-mood-estimation",
        "pipelineNameType": "str",
        "instanceId": "",
        "instanceIdInputType": "str",
        "video": "payload.video_file",
        "videoInputType": "msg",
        "selectedMetadataOption": "",
        "mqttHost": "",
        "mqttHostType": "str",
        "mqttPort": "",
        "mqttTopic": "",
        "mqttTopicType": "str",
        "kafkaHost": "",
        "kafkaHostType": "str",
        "kafkaPort": "",
        "kafkaTopic": "",
        "kafkaTopicType": "str",
        "selectedFrameOption": "",
        "rtspPath": "",
        "rtspPathType": "str",
        "peerid": "",
        "peeridType": "str",
        "metadata": "",
        "frame": "",
        "detectionDevice": "",
        "useZeromq": true,
        "zeromqServer": "\"tcp://\" & $env('SERVER_DNS') & \":5555\"",
        "zeromqServerType": "jsonata",
        "useModelInstanceId": true,
        "modelInstanceId": "{\"detection-model-instance-id\":\"shopper\",\"inference-model-instance-id\":\"pose\",\"classification-model-instance-id\":\"mood\"}",
        "modelInstanceIdType": "json",
        "useNewModel": "",
        "newModel": "",
        "newModelType": "json",
        "checkStatus": "",
        "x": 920,
        "y": 280,
        "wires": [
            [
                "daeebc5b4836bb70"
            ]
        ]
    },
    {
        "id": "1aa994d23e928081",
        "type": "intel-edge-video-analytics",
        "z": "656ed36491044534",
        "name": "Shelf Object Count",
        "server": "09c72df344f3e5bf",
        "operation": "start",
        "pipeline": "object_detection/yolo-v2-gvapython",
        "pipelineList": [
            "",
            "object_tracking/object_line_crossing",
            "object_tracking/person_vehicle_bike",
            "action_recognition/general",
            "action_recognition/head_pose",
            "shopper-pose-mood/v2",
            "shopper-pose-mood/v1",
            "face_detection/adas",
            "emotion_recognition/v1",
            "video_decode/app_dst",
            "object_detection/yolo-v2-tiny-tf",
            "object_detection/yolo-v2-gvapython",
            "object_detection/object_zone_count",
            "object_detection/app_src_dst",
            "object_detection/vehicle",
            "object_detection/person_vehicle_bike",
            "object_detection/person",
            "object_detection/person-gvapython",
            "object_classification/vehicle_attributes",
            "audio_detection/environment"
        ],
        "selectedPipeline": "object_detection/yolo-v2-gvapython",
        "pipelineName": "shelf-object-count",
        "pipelineNameType": "str",
        "instanceId": "",
        "instanceIdInputType": "str",
        "video": "payload.video_file",
        "videoInputType": "msg",
        "selectedMetadataOption": "",
        "mqttHost": "",
        "mqttHostType": "str",
        "mqttPort": "",
        "mqttTopic": "",
        "mqttTopicType": "str",
        "kafkaHost": "",
        "kafkaHostType": "str",
        "kafkaPort": "",
        "kafkaTopic": "",
        "kafkaTopicType": "str",
        "selectedFrameOption": "",
        "rtspPath": "",
        "rtspPathType": "str",
        "peerid": "",
        "peeridType": "str",
        "metadata": "",
        "frame": "",
        "detectionDevice": "",
        "useZeromq": true,
        "zeromqServer": "\"tcp://\" & $env('SERVER_DNS') & \":5555\"",
        "zeromqServerType": "jsonata",
        "useModelInstanceId": true,
        "modelInstanceId": "{\"detection-model-instance-id\":\"shelf\"}",
        "modelInstanceIdType": "json",
        "useNewModel": "",
        "newModel": "",
        "newModelType": "json",
        "checkStatus": "",
        "x": 930,
        "y": 380,
        "wires": [
            [
                "daeebc5b4836bb70"
            ]
        ]
    },
    {
        "id": "0503d7b0e7ccf3d5",
        "type": "mqtt out",
        "z": "656ed36491044534",
        "name": "Connect to MQTT Broker",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4cbb7822169a3c10",
        "x": 650,
        "y": 80,
        "wires": []
    }
]
