lib/flows/smart-retail-analytics.json
[
    {
        "id": "afe5cbb8a0d95320",
        "type": "tab",
        "label": "Smart Retail Analytics",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf079895c3eddc2b",
        "type": "junction",
        "z": "afe5cbb8a0d95320",
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "d4fb12d51036fb11"
            ]
        ]
    },
    {
        "id": "43023069ac19a95d",
        "type": "junction",
        "z": "afe5cbb8a0d95320",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "bd10a8d6d0f9350d",
                "9bbe15fbf5ae674e",
                "e091dbb0fd63e149"
            ]
        ]
    },
    {
        "id": "9bbe15fbf5ae674e",
        "type": "change",
        "z": "afe5cbb8a0d95320",
        "name": "Configure shopper-pose-mood Pipeline",
        "rules": [
            {
                "t": "set",
                "p": "video",
                "pt": "msg",
                "to": "file:///home/pipeline-server/videos/head-pose-face-detection-female-and-male.mp4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pipeline",
                "pt": "msg",
                "to": "shopper-pose-mood-estimation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "modelInstanceId",
                "pt": "msg",
                "to": "{\"detection-model-instance-id\":\"shopper\",\"inference-model-instance-id\":\"pose\",\"classification-model-instance-id\":\"mood\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "config.zmq-config.mqttTopic",
                "pt": "msg",
                "to": "pipeline",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.zmq-config.pipelineName",
                "pt": "msg",
                "to": "pipeline",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "source.source.uri",
                "pt": "msg",
                "to": "video",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "d5b9d295a1fcc8f5"
            ]
        ]
    },
    {
        "id": "bd10a8d6d0f9350d",
        "type": "change",
        "z": "afe5cbb8a0d95320",
        "name": "Configure shelf-object-count Pipeline",
        "rules": [
            {
                "t": "set",
                "p": "video",
                "pt": "msg",
                "to": "file:///home/pipeline-server/videos/bottle-detection.mp4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pipeline",
                "pt": "msg",
                "to": "shelf-object-count",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "modelInstanceId",
                "pt": "msg",
                "to": "{\"detection-model-instance-id\":\"shelf\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "config.zmq-config.mqttTopic",
                "pt": "msg",
                "to": "pipeline",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.zmq-config.pipelineName",
                "pt": "msg",
                "to": "pipeline",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "source.source.uri",
                "pt": "msg",
                "to": "video",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "53f78b6c63cc627b"
            ]
        ]
    },
    {
        "id": "d4fb12d51036fb11",
        "type": "http request",
        "z": "afe5cbb8a0d95320",
        "name": "Send to Intel Edge Video Analytics",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{host}}}{{{endpoint}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1400,
        "y": 260,
        "wires": [
            [
                "8ca5e8f9859d99f0"
            ]
        ]
    },
    {
        "id": "254719cba12f4747",
        "type": "function",
        "z": "afe5cbb8a0d95320",
        "name": "Pre-Process: person pipeline request",
        "func": "const parameters = {\n    \"parameters\" : {\n        ...msg.modelInstanceId,\n        ...msg.config\n    }\n}\nmsg.payload = { \n    ...msg.source,\n    ...msg.destination,\n    ...parameters\n};\n\nmsg.endpoint = msg.pipelineList[msg.pipeline];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 160,
        "wires": [
            [
                "cf079895c3eddc2b"
            ]
        ]
    },
    {
        "id": "53f78b6c63cc627b",
        "type": "function",
        "z": "afe5cbb8a0d95320",
        "name": "Pre-Process: shelf-object-count request",
        "func": "const parameters = {\n    \"parameters\": {\n        ...msg.modelInstanceId,\n        ...msg.config\n    }\n}\nmsg.payload = {\n    ...msg.source,\n    ...msg.destination,\n    ...parameters\n};\n\nmsg.endpoint = msg.pipelineList[msg.pipeline];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 360,
        "wires": [
            [
                "cf079895c3eddc2b"
            ]
        ]
    },
    {
        "id": "d5b9d295a1fcc8f5",
        "type": "function",
        "z": "afe5cbb8a0d95320",
        "name": "Pre-Process: Shopper-pose-mood request",
        "func": "const parameters = {\n    \"parameters\": {\n        ...msg.modelInstanceId,\n        ...msg.config\n    }\n}\nmsg.payload = {\n    ...msg.source,\n    ...msg.destination,\n    ...parameters\n};\n\nmsg.endpoint = msg.pipelineList[msg.pipeline];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 260,
        "wires": [
            [
                "cf079895c3eddc2b"
            ]
        ]
    },
    {
        "id": "19509b5813c3ffdd",
        "type": "comment",
        "z": "afe5cbb8a0d95320",
        "name": "Data Visualization",
        "info": "## For Data visualization head to `http://<your_host>:5000`",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "e091dbb0fd63e149",
        "type": "change",
        "z": "afe5cbb8a0d95320",
        "name": "Configure Person Pipeline",
        "rules": [
            {
                "t": "set",
                "p": "video",
                "pt": "msg",
                "to": "file:///home/pipeline-server/videos/face-demographics-walking.mp4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pipeline",
                "pt": "msg",
                "to": "shopper-count-duration",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "modelInstanceId",
                "pt": "msg",
                "to": "{\"detection-model-instance-id\":\"person\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "config.zmq-config.mqttTopic",
                "pt": "msg",
                "to": "pipeline",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.zmq-config.pipelineName",
                "pt": "msg",
                "to": "pipeline",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "source.source.uri",
                "pt": "msg",
                "to": "video",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "254719cba12f4747"
            ]
        ]
    },
    {
        "id": "5daa1599299a7569",
        "type": "inject",
        "z": "afe5cbb8a0d95320",
        "name": "Setup Intel Edge Video Analytics",
        "props": [
            {
                "p": "pipelineList",
                "v": "{\"person\":\"object_detection/person\",\"head_pose\":\"action_recognition/head_pose\",\"emotion\":\"emotion_recognition/v1\",\"object_detect\":\"object_detection/yolo-v2-tiny-tf\",\"face_detect\":\"face_detection/adas\",\"shopper-pose-mood-estimation\":\"shopper-pose-mood/v2\",\"shopper-count-duration\":\"object_detection/person-gvapython\",\"shelf-object-count\":\"object_detection/yolo-v2-gvapython\"}",
                "vt": "json"
            },
            {
                "p": "host",
                "v": "\"http://\" & $env('evam-dns') & \":8080/pipelines/\"",
                "vt": "jsonata"
            },
            {
                "p": "source",
                "v": "{\"source\":{\"type\":\"uri\",\"uri\":\"\"}}",
                "vt": "json"
            },
            {
                "p": "destination",
                "v": "{\"destination\":{\"metadata\":{\"type\":\"file\",\"path\":\"/home/pipeline-server/videos/results.jsonl\",\"format\":\"json-lines\"}}}",
                "vt": "json"
            },
            {
                "p": "config",
                "v": "{\"zmq-config\":{\"imagezmqSocket\":\"\",\"mqttTopic\":\"\",\"pipelineName\":\"\"}}",
                "vt": "json"
            },
            {
                "p": "config.zmq-config.imagezmqSocket",
                "v": "\"tcp://\" & $env('server-dns') & \":5555\"",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "43023069ac19a95d"
            ]
        ]
    },
    {
        "id": "8ca5e8f9859d99f0",
        "type": "debug",
        "z": "afe5cbb8a0d95320",
        "name": "Debug Pipeline ID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 380,
        "wires": []
    }
]